<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
          <li><a href="/makeup">makeup main</a></li>
          <li><a href="/sub">makeup sub</a></li>
          <li><a href="/about">makeup about</a></li>
        </ul>
    </nav>
    <h1>about html</h1>
    <section>
                <div class="container">

                    <div class="breadcrumb-container">
                        
                        
                            <ul class="breadcrumb">
        <li>
        <a href="/ko">
        <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon points="16.3515625 11.1015625 16.3515625 12.25 9.2421875 12.25 12.4960938 15.53125 11.6757812 16.3515625 7 11.6757812 11.6757812 7 12.4960938 7.8203125 9.2421875 11.1015625"></polygon>
        </svg>
        고객 센터 홈으로 돌아가기
        </a>
        </li>



        </ul>

                        

                        
                        

                        
                        
                    </div>

                    
                    

                    
                    
                        

                        
                        
                            <h1 class="kb-title">내 계정에 새로운 로그인이 발생했다는 이메일을 수신했습니다.</h1>
                        

                        
                        
                    

                    <div class="pane-wrapper">

                        <div class="left-pane">

                            

                            
                            

                            
                            

                            
                            
                                <section dir="LTR" class="kb-article kb-article-variant gradient" data-countries=",PR,PS,PT,PW,PY,QA,AD,AE,AF,AG,AI,AL,AM,AN,AO,AQ,AR,AS,AT,RE,AU,AW,AX,AZ,RO,BA,BB,RS,BD,BE,RU,BF,BG,RW,BH,BI,BJ,BL,BM,BN,BO,SA,BQ,SB,BR,SC,BS,SD,SE,BT,SG,BV,SH,BW,SI,SJ,BY,BZ,SK,SL,SM,SN,SO,CA,SR,CC,SS,ST,CD,SV,CF,CG,SX,CH,SY,CI,SZ,CK,CL,CM,CN,CO,TC,CR,TD,CU,TF,TG,CV,CW,TH,CX,CY,TJ,CZ,TK,TL,TM,TN,TO,TR,TT,DE,TV,TW,TZ,DJ,DK,DM,DO,UA,UG,DZ,UM,EC,US,EE,EG,EH,UY,UZ,VA,VC,ER,ES,VE,ET,VG,VI,VN,VU,FI,FJ,FK,FM,FO,FR,WF,GA,GB,WS,GD,GE,GF,GG,GH,GI,GL,GM,GN,GP,GQ,GR,GS,GT,GU,GW,GY,HK,HM,HN,HR,HT,YE,HU,ID,YT,IE,IL,IM,IN,IO,ZA,IQ,IR,IS,IT,ZM,JE,ZW,JM,JO,JP,KE,KG,KH,KI,KM,KN,KP,KR,KW,KY,KZ,LA,LB,LC,LI,LK,LR,LS,LT,LU,LV,LY,MA,MC,MD,ME,MF,MG,MH,MK,ML,MM,MN,MO,MP,MQ,MR,MS,MT,MU,MV,MW,MX,MY,MZ,NA,NC,NE,NF,NG,NI,NL,NO,NP,NR,NU,NZ,OM,PA,PE,PF,PG,PH,PK,PL,PM,PN,">
                                    <div class="page-block">
        <div class="c-wrapper">
            <div>
                <p>계정의 보안을 유지하기 위해 새로운 디바이스에서 Netflix 계정 로그인 이벤트가 새로 발생하면 회원에게 이메일이 전송됩니다. 로그인이 발생한 위치는 디바이스에서 현재 사용 중인 IP 주소를 기준으로 하기 때문에 실제 위치와 일치하지 않을 수도 있으며, 표시되는 시간은 새로 로그인한 사용자의 현지 시간입니다. </p>
                <p>고객이 인지하지 못한 로그인인 경우 즉시 비밀번호를 변경하도록 안내하고 있습니다. 비밀번호를 변경하기 위해 <a target="_blank" href="https://netflix.com/LoginHelp">본인에게 비밀번호 재설정 이메일 또는 문자 메시지(SMS)를 전송</a>할 수 있습니다. </p>
                <p>정보 보호를 위한 더 자세한 방법은 <a href="https://help.netflix.com/ko/node/13243">계정 보안을 유지하는 방법</a>을 참조하세요. </p>
            </div>
        </div>
        </div>

                                    

                                    
                                </section>
                            

                            
                            

                            
                            <div id="article-feedback-container"><div class="article-feedback"><div class="feedback-prompt"><div class="feedback-header"><strong>이 문서가 도움이 되었나요?</strong></div><div class="prompt-buttons"><button class="h-btn btn-link">예</button><button class="h-btn btn-link">아니요</button></div></div></div></div>

                            
                        </div>

                        <div class="right-pane">
                            <div class="wrapper">
                                
                                
                                    
        <div class="page-block">
        <h3>추천 문서</h3>
        <ul class="related-articles" data-tracking-id="c37ebfe4-2723-4e23-bffa-61a2c73f0894">
        <li class="related-article">
            <a href="/ko/node/41049" data-id="41049" data-index="1">청구 및 결제</a>
        </li>
        <li class="related-article">
            <a href="/ko/node/54816" data-id="54816" data-index="2">Netflix에서 TV 프로그램과 영화 다운로드 - Netflix Help Center</a>
        </li>
        <li class="related-article">
            <a href="/ko/node/10421" data-id="10421" data-index="3">프로필 생성 및 수정 방법</a>
        </li>
        <li class="related-article">
            <a href="/ko/node/461" data-id="461" data-index="4">넷플릭스가 작동하지 않음</a>
        </li>
        <li class="related-article">
            <a href="/ko/node/47765" data-id="47765" data-index="5">넷플릭스 검색 및 탐색 방법</a>
        </li>
        </ul>
        </div>


                                
                            </div>
                        </div>

                    </div>
                </div>
    </section>
    <footer>
        <div class="member-footer-copyright">
          <div class="copy-text">
            <div class="copy-text-block">
              넷플릭스서비시스코리아 유한회사 통신판매업신고번호: 제2018-서울종로-0426호 전화번호: 080-001-9587
            </div>
            <div class="copy-text-block">
              대표: 레지널드 숀 톰프슨
            </div>
            <div class="copy-text-block">
              이메일 주소: korea@netflix.com
            </div>
            <div class="copy-text-block">
              주소: 대한민국 서울특별시 종로구 우정국로 26, 센트로폴리스 A동 20층 우편번호 03161
            </div>
            <div class="copy-text-block">
              사업자등록번호: 165-87-00119
            </div>
            <div class="copy-text-block">
              클라우드 호스팅: Amazon Web Services Inc.
            </div>
            <div id="" class="copy-text-block" data-uia="">
              <a href="http://www.ftc.go.kr/bizCommPop.do?wrkr_no=1658700119">공정거래위원회 웹사이트</a>
            </div>
          </div>
          <span class="member-footer-copyright-instance">
            {ddb660ea-d911-4dd3-9be8-1d1767a33af0}
          </span>
        </div>
      </footer>
</body>
</html>